@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* #region Global Roles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* #endregion */

/* #region header */
header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;

  min-height: 97px;
}

header .container::before {
  content: '';
  height: 1px;
  width: calc(100% - 30px);

  position: absolute;
  bottom: 0;
  left: 15px;
  z-index: -1;

  background-color: #a2a2a2;
}

header .logo img {
  height: 40px;
}

header nav {
  display: flex;
  align-items: center;
}

header nav .toggle-menu {
  color: white;
  font-size: 22px;
}

@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}

header nav ul {
  display: flex;
}

@media (max-width: 767px) {
  header nav ul {
    display: none;
  }

  header nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    background-color: rgb(0 0 0 / 50%);
  }
}

header nav ul a {
  display: block;
  padding: 40px 10px;

  color: white;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
}

header nav ul a.active,
header nav ul a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

@media (max-width: 767px) {
  header nav ul a {
    padding: 20px;
  }
}

header nav .search-icon {
  width: 40px;
  height: 30px;
  margin-left: 30px;
  position: relative;
  border-left: 1px solid white;
}

@media (max-width: 767px) {
  header nav .search-icon {
    margin-left: 20px;
  }
}

header nav .search-icon i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  color: white;
  font-size: 20px;
}
/* #endregion */

/* #region landing */
.landing {
  height: 100vh;

  background-image: url('../images/landing.jpeg');
  background-size: cover;

  position: relative;
}

.landing .overlay {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background-color: rgb(0 0 0 / 50%);
}

.landing .text {
  width: 50%;
  padding: 50px;

  display: flex;
  justify-content: flex-end;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--transparent-color);

  color: white;
}

.landing .content {
  max-width: 500px;
}

@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }

  .landing .content {
    max-width: 100%;
  }
}

.landing .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}

.landing .content p {
  font-size: 14px;
  line-height: 2;
}

.landing i {
  color: white;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 767px) {
  .landing i {
    display: none;
  }
}

.landing i.fa-angle-left {
  left: 30px;
}

.landing i.fa-angle-right {
  right: 30px;
}

.landing ul {
  width: 70px;

  display: flex;
  justify-content: space-between;

  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.landing ul li {
  display: block;
  
  width: 20px;
  height: 20px;
  border-radius: 50%;

  border: 1px solid white;
}

.landing ul li.active {
  border: transparent;
  background-color: var(--main-color);
}
/* #endregion */

/* #region services */
.services {
  padding: 100px 0;
}

@media (min-width: 768px) {
  .services .content {
    display: grid;
    gap: 60px 40px;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  } 
} 

.services .card {
  display: flex;
}

.services .card i {
  margin-right: 30px;
}

.services .card .text h3 {
  color: var(--main-color);
  margin-bottom: 30px;
}

.services .card .text p {
  color: #777;
  line-height: 2;
}

@media (max-width: 767px) {
  .services .card {
    text-align: center;
    flex-direction: column;
  }

  .services .card:not(:last-child) {
    margin-bottom: 30px;
  }

  .services .card i {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .services .card .text h3 {
    margin-bottom: 10px;
  }
}
/* #endregion */

/* #region feature */
.features {
  height: 600px;
  padding: var(--section-padding) 0;

  display: flex;
  align-items: center;

  position: relative;

  overflow: hidden;
  
  background-image: url(../images/design-features.jpeg);
  background-size: cover;
}

.features::before {
  content: "";

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background-color: rgb(0 0 0 / 50%);
}

.features div {
  flex: 1;
  position: relative;
  z-index: 1;
}

.features .image {
  text-align: center;
}

@media (max-width: 767px) {
  .features .image {
    display: none;
  }
}

.features .image img {
  position: relative;
  bottom: -150px;
}

.features .text {
  padding: 50px;
  color: white;

  background-color: var(--transparent-color);
}

.features .text h3 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 40px;
}

.features .text ul li{
  padding: 15px 0;
}

/* has new idea to learn */
.features .text ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}
/* #endregion */

/* #region portofolio */
.portofolio {
  padding: var(--section-padding) 0;
}

/* #region container */
.portofolio .container ul {
  display: flex;
  justify-content: center;
}

.portofolio .container ul li {
  padding: 10px;
  text-transform: capitalize;

  transition: 0.3s linear;
}

.portofolio li:first-child {
  color: white;
  background-color: var(--main-color);
}

.portofolio li:hover {
  color: white;
  background-color: var(--main-color);
}
/* #endregion */

/* #region images-container using grid */
/* .imgs-container {
  margin-top: 50px;
  margin-bottom: 30px;

  display: grid;
}

@media (min-width: 768px) {
  .imgs-container {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (min-width: 991px) {
  .imgs-container {
    grid-template-columns: repeat(4, 25%);
  }
}

.imgs-container figure {
  position: relative;
  overflow: hidden;
}

.imgs-container figure img {
  max-width: 100%;
  transition: 0.3s linear;
}

.imgs-container figure figcaption {
  width: 100%;
  padding: 20px;

  position: absolute;
  left: 0;
  bottom: -100%;

  line-height: 1.6;

  transition: 0.3s linear;
  background-color: white;
  border-top-right-radius: 100%;
}

@media (min-width: 768px) {
  .imgs-container figure:hover img {
    transform: scale(1.1) rotate(3deg);
  }
  
  .imgs-container figure:hover figcaption {
    bottom: 0;
  }
}

@media (max-width: 767px) {
  .imgs-container figure figcaption {
    bottom: 0;
  }
}

.imgs-container figure figcaption span {
  color: var(--main-color);
} */
/* #endregion */

/* #region imgs-container using flex */
.imgs-container {
  margin-top: 50px;
  margin-bottom: 30px;

  display: flex;
  flex-wrap: wrap;
}

.imgs-container figure {
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
  .imgs-container figure {
    flex-basis: 50%;
  }
}

@media (min-width: 991px) {
  .imgs-container figure {
    flex-basis: 25%;
  }
}

.imgs-container figure img {
  max-width: 100%;
  transition: 0.3s linear;
}

.imgs-container figure figcaption {
  width: 100%;
  padding: 20px;

  position: absolute;
  left: 0;
  bottom: -100%;

  line-height: 1.6;

  transition: 0.3s linear;
  background-color: white;
  border-top-right-radius: 100%;
}

@media (min-width: 768px) {
  .imgs-container figure:hover img {
    transform: scale(1.1) rotate(3deg);
  }
  
  .imgs-container figure:hover figcaption {
    bottom: 0;
  }
}

@media (max-width: 767px) {
  .imgs-container figure figcaption {
    bottom: 0;
  }
}

.imgs-container figure figcaption span {
  color: var(--main-color);
}
/* #endregion */

.portofolio a {
  display: block;

  width: fit-content;
  margin: 0 auto;
  padding: 15px 20px;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: white;
  background: var(--main-color);
}
/* #endregion portofolio */

/* #region awesome-video */
.awesome-video {
  position: relative;
}

.awesome-video::before {
  content: "";

  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;

  background-color: rgb(0 0 0 / 50%);
}

.awesome-video video {
  width: 100%;
}

.awesome-video .content {
  width: 100%;
  padding: 50px 0;
  
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;

  color: white;
  background-color: var(--transparent-color);
}

.awesome-video .content h1 {
  margin: 0 0 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.awesome-video .content p {
  margin-bottom: 30px;
  text-transform: capitalize;
}

.awesome-video .content a {
  display: block;
  margin: auto;

  padding: 15px 20px;
  width: fit-content;

  text-decoration: none;
  text-transform: uppercase;
  
  color: white;
  background-color: black;
}

/* #endregion */

/* #region about us */
.about-us {
  overflow-y: hidden;
  text-align: center;
  padding-top: var(--section-padding);
}

.about-us img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .about-us img {
    bottom: -50px;
    margin-top: -50px;
  }
}
/* #endregion */

/* #region statistics */
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);

  position: relative;

  background-image: url(../images/stats.png);
  background-size: cover;
}

.stats::before {
  content: "";

  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;

  background-color: rgb(0 0 0 / 60%);
}

.stats .container {
  display: flex;
  flex-wrap: wrap;
}

.stats .container .card {
  padding: 50px;
  
  position: relative;

  text-align: center;
 
  color: white;
  background-color: var(--transparent-color);
}

@media (max-width: 767px) {
  .stats .container .card {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .stats .container .card {
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .stats .container .card {
    flex-basis: 25%;
  }
}

.stats .container .card i {
  width: 40px;
  height: 40px;
  
  margin: 0 auto 30px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 50%;

  background-color: black;

}

.stats .container .card h1 {
  font-size: 50px;
  margin: 0 0 20px;
}

.stats .container .card p {
  font-size: 14px;
}

/* #endregion */

/* #region progrss */
.progress {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.progress .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* #region common properties for testominal and skills */

@media (min-width: 992px) {
  .progress .container > div {
    flex-basis: 45%;
  }
}

.progress .container > div > h2 {
  margin-bottom: 30px;

  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

.progress .container > div > p {
  margin-bottom: 60px;
  
  color: #777;
  line-height: 2;
  text-align: center;
}
/* #endregion */

/* #region testominals */
.testominals .card {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.testominals .card img {
  width: 100px;
  border-radius: 50%;
  margin-right: 50px;
}

.testominals .card .text {
  border-bottom: 1px solid #ccc;
}

@media (max-width: 767px) {
  .testominals .card {
    flex-direction: column;
  }

  .testominals .card img {
    margin: 0 0 20px;
  }

  .testominals .card .text {
    text-align: center;
  }
}

.testominals .text p:first-child {
  line-height: 1.8;
  margin-bottom: 10px;
}

.testominals .text .name {
  text-align: right;
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.testominals ul {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.testominals ul li {
  margin-right: 10px;
  width: 14px;
  height: 14px;
  border: 1px solid black;
  border-radius: 50%;
}

.testominals ul li.active {
  border-color: var(--main-color);
  background-color: var(--main-color);
}
/* #endregion */

/* #region skills */
.skills .content > div { 
  margin-bottom: 40px;;
}

.skills .content h4 {
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}

.skills .content .progress-bar {
  height: 30px;
  background-color: #dedadc;
}

.skills .content .progress-bar span {
  display: block;
  position: relative;
  background-color: var(--main-color);
  height: 100%;
}

.skills .content .progress-bar span::before {
  content: attr(percentage);

  width: 40px;
  padding: 4px 0;

  position: absolute;
  top: -40px;
  right: 0;
  transform: translate(50%);
  
  text-align: center;

  color: white;
  background: #333;
  border-radius: 4px;
}

.skills .content .progress-bar span::after {
  content: "";
  
  position: absolute;
  right: 0;
  top: -14px;
  transform: translate(50%);

  border: 8px solid transparent;
  border-top-color: #333;
}

.adobe-skill .progress-bar span {
  width: 90%;
}

.web-dev-skill .progress-bar span {
  width: 85%;
}

.js-skill .progress-bar span {
  width: 80%;
}

.php-skill .progress-bar span {
  width: 90%;
}
/* #endregion */
/* #endregion */

/* #region qoute */
.wise-qoute {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);

  position: relative;

  color: white;
  text-align: center;

  background-size: cover;
  background-image: url(../images/quote.jpeg);
}

.wise-qoute::before {
  content: "";

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  
  background-color: rgb(0 0 0 / 60%);
}

.wise-qoute .container {
  position: relative;
}

.wise-qoute q {
  display: block;
  margin-bottom: 20px;
  font-size: 30px;
}
/* #endregion */

/* #region pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);

  
}
/* #endregion */

/* #region footer */
footer {
  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);

  position: relative;

  background-image: url(../images/footer-image.jpeg);
  background-size: cover;
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
}

footer .container {
  color: white;
  position: relative;
  text-align: center;
}

footer .container img {
  margin-bottom: 40px;
}

footer .container h2 {
  width: fit-content;

  padding: 20px;
  font-size: 22px;
  font-weight: normal;
  margin: 0 auto 20px;

  text-transform: uppercase;

  position: relative;
}

footer .container h2::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;

  background-color: white;
}

footer .container .social-icons {
  margin-bottom: 60px;
}

footer .container .social-icons i {
  padding: 10px 15px;
}

footer .container .copyright span {
  color: var(--main-color);
}
/* #endregion */